*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(146, 146, 142), rgb(140, 145, 140));
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 10px, solid #eee9e9;
    outline: outset;
    border-style: groove;
    border-color: rgb(101, 102, 95);
    border-width: 7px;
}

.calculator-grid>button:hover {
    background-color: #ee7373;
    border-style: double;
}

.span-two {
    grid-column: span 2;
    color: #0f0f0e;
    background-color: rgba(97, 223, 228, 0.8);
    border-style: dotted;
    border-color: rgb(101, 102, 95);
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
    word-wrap: break-word;
    word-break: break-all;
    outline: outset;
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}